<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>DC AMM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <script>
      window.GRAPHQL_URL = "<%= GRAPHQL_URL %>";
      window.EXPRESS_SERVER_URL = "<%= EXPRESS_SERVER_URL %>";
      window.PLAYGROUND_ENABLED = "<%= PLAYGROUND_ENABLED %>";
      window.PUBLIC_PATH = "<%= PUBLIC_PATH %>";
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
